{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">  
    	<div class="row"> 	
           <div class="btn-group btn-group-justified" role="group">
           		<div class="btn-group" role="group">
                	<button type="button" class="btn btn-default" data-bind="click:initAddMember">Add Member</button>
                </div>
                <div class="btn-group" role="group">
               		<button type="button" class="btn btn-default" data-bind="click:initAddSchool">Add School</button>
               	</div>
               	
                <div class="btn-group" role="group">
                   <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="click:getShools">
                      Filter By School
                      <span class="caret"></span>
                   </button>
                   <ul id="dropdown" class="dropdown-menu">
                   	 <!-- ko foreach: schools -->
                       <li data-bind="click:function(){filterAction($parent.filterManager)}"><a href="#" data-bind="text:name"></a></li>
                     <!-- /ko -->
                   </ul>
                </div>
           </div>
        </div>
        

        
        <!--  ko if:addingMember -->
        	<div class="row bg-warning">
        		<div class="col-xs-12" data-bind="with:memberToAdd">
                	<form class="form-group" method="POST" action="{{ path("members_add") }}" data-bind="submit:add">
                		<span>
                			Full Name:
                			<input  class="form-control" type="text" name="name" data-bind="value:name" />
                		</span>
                		<span>
                			Email:
                			<input class="form-control" type="email" name="email" data-dind="value:email">
                		</span>
                		<div class="col-xs-12 row">
                    		Schools:
                    		<div class="btn-group">
                                   <button type="button" class="btn btn-default dropdown-toggle"  data-bind="click:$parent.getShools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Select Schools <span class="caret"></span>
                                   </button>
                                   <ul id="dropdown" class="dropdown-menu">
                                      <!-- ko foreach: $parent.schools -->
                                         <li data-bind="click:function(){addToMember($parent);}"><a href="#" data-bind="text:name"></a></li>
                                      <!-- /ko -->
                                   </ul>
                                </div>
                            </div>    
                           
                    		<div class="col-xs-12 row">
                            	<!-- ko foreach:schools -->
                            		<span  class="label label-default" data-bind="click:function(){removeFromMember($parent);}"><span data-bind="text:name"></span></span>
                            		<input type="hidden" name="schools[]" data-bind="value:id">
                            	<!-- /ko -->
                        	</div>
                            
                            <div class="col-xs-12 row">
                            	<br>
                            	<button class="btn btn-success" type="submit">Add</button>
                            </div>	                		
                	</form>
            	</div>
        	</div>
        <!--  /ko  -->
        
        <!-- ko if:schoolAdding -->
        	<div class="row bg-warning">
        		<div class="col-xs-12" data-bind="with:schoolToAdd">
        			<form class="form-group" method="POST" action="{{ path("schools_add") }}" data-bind="submit:add">
                		<span>
                			School Name:
                			<input  class="form-control" type="text" name="name" data-bind="value:name" />
                		</span>
                	    <div class="col-xs-12 row">
                            <button class="btn btn-success" type="submit">Add</button>
                        </div>	                		
                	</form>	
        		</div>
        	</div>
        <!-- /ko -->
        
        <div class="row" data-bind="with:filterManager">
        	<div class="col-xs-12">
        		<strong>Filtered By (click on each filter to remove):</strong><br>
        		<!-- ko foreach:filters -->
        			<span class="label label-default" data-bind="click:function(){$parent.remove($data)}"><span data-bind="text:name"></span></span>
        		<!-- /ko -->
        	</div>
        </div>
        
    	<!-- ko foreach:members -->
     		<div class="row bg-info">
     			<div class="col-xs-12">
         			<h3><span data-bind="text:name"></span></h3>
         			Email: <span data-bind="text:email"></span><br>
         			Shcools:
         			<!-- ko foreach: schools -->
         				<span  class="label label-default" data-bind="text:name"></span>
         			<!-- /ko -->
         			<br>
     			</div>
     		</div><br>
 		<!-- /ko -->
 		<div class="row bg-warning" data-bind="with:membersPager">
 			<button role="button" class="btn btn-link" data-bind="click:nextPage">Load More</button>
 		</div>
	</div>
{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
	<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
	<script src="{{ asset('script.js') }}"></script>
{% endblock %}