# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]


#CRUD Managers
  member_crud_manager:
    class: AppBundle\Managers\CRUD\MemberManager
    arguments: ['@doctrine.orm.default_entity_manager']

  school_crud_manager:
    class: AppBundle\Managers\CRUD\SchoolManager
    arguments: ['@doctrine.orm.default_entity_manager']


#Models

  member_model:
    class: AppBundle\Models\MembersModel
    arguments: ["@member_crud_manager","@logger"]

  school_model:
    class: AppBundle\Models\SchoolModel
    arguments: ['@school_crud_manager','@logger']
